* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  background-color: rgb(223, 223, 230);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.coupon-card {
  background: linear-gradient(135deg, #384aeb, #ac8ccca3);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
}
.coupon-card:hover {
  background-color: rgb(245, 22, 11);
  zoom: 1;
}
.yellow {
  background: linear-gradient(135deg, #4d2e1976, #dbec45a3);
}
.green {
  background: linear-gradient(135deg, #1b194d76, #45ec61a3);
}
.red {
  background: linear-gradient(135deg, #27238376, #ec5e45fd);
}
.black {
  background: linear-gradient(135deg, #1b194d76, #021205a3);
}
.logo {
  width: 80px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.coupon-card h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.coupon-card p {
  font-size: 15px;
}
.coupon-row {
  display: flex;
  align-items: center;
  margin: 25px auto;
  width: fit-content;
}
#cpnCode {
  border: 1px dashed #fff;
  padding: 10px 20px;
  border-right: 0;
}
#cpnBtn {
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  color: #7158fe;
  cursor: pointer;
}
.circle1,
.circle2 {
  background-color: rgb(223, 223, 230);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.circle1 {
  left: -25px;
}
.circle2 {
  right: -25px;
}
.text-center {
  background: linear-gradient(135deg, rgb(247, 247, 249), blue);
}
